.feed-form{
    margin-top: 36px;
    width: 300px;
    &__input{
        height: 54px;
        background: #FFFFFF;
        margin-top: 11px;
        border-radius: 5px;
        width: 100%;
        font-weight: normal;
        font-size: 1rem;
        padding: 0 20px;
    }
}