body{
    font-size: 14px;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    //border: 1px solid red;
}

@import "mixins";
@import "variables";
@import "media";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/button";
@import "blocks/title";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/feed-form";