html{
   font-size: 14px; 
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'MuseoModerno', cursive;
    user-select: none;
}

a{
    text-decoration: none;
}

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

.container{
    max-width: 950px;
    margin: 0 auto;
    //border: 1px solid red;
}

.slick-dots{
    list-style: none;
    display: flex !important;
    justify-content: center;
    li{
        margin: 0 7px;
        button{
            font-size: 0;
            width: 15px;
            height: 15px;
            background-color: black;
            border-radius: 50%; 
            border: none;
        }
    }
    .slick-active button{
        background-color: #00f;
}
}


