@media (max-width: 980px){
    .container{
        padding: 0 15px;
    }
}
@media (max-width: 767px){
    html{
        font-size: 11.66px;
    }
    .header__logo{
        width: 190px;
    }
    .button{
        width: 130px;
        height: 25px;
    }
    .promo{
        &__icons{
            height: 95px;
        }
        &__icon{
            img{
                width: 35px;
            }
        }
        
    }

}