
@media (max-width: 992px){
    .carousel__inner img{
        width: 100%;
    }
    .catalog__content_active{
        justify-content: center;
    }
    .catalog-item{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 980px){
    .container{
        padding: 0 15px;
    }
    .advantages__items{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px){
    html{
        font-size: 11.66px;
    }
    .header__logo{
        width: 190px;
    }
    .button{
        &_call{
            width: 130px;
            height: 25px;
        }
        &_main{
            width: 250px;
        }
    }
   
    .promo{
        &__icons{
            height: 95px;
            width: 353px;
        }
        &__icon{
            img{
                width: 35px;
            }
        } 
    }
     .carousel__inner img{
        max-width: 520px;
    }
    .client{
        flex-direction: column;
        align-items:center;
        &__descr{
            margin-top: 40px;
            margin-left: 0px;
        }
    }
}
@media (max-width: 575px){
    .header{
        flex-direction: column;
        &__official{
            margin-top: 17px;
        }
        &__contacts{
            margin-top: 17px;
        }
    }
    .promo__header, .promo__subheader {
        text-align: center;
    }
    .promo__icons{
        flex-direction: column;
        align-items: center;
        height: 250px;
        margin-top: 25px;
        width: 100%;
    }
    .promo__icon{
        margin-top: 17px;
    }
    .button_main{
        width: 100%;
        max-width: 300px;
    }
    .carousel__inner{
        width: 100%;
        img{
            max-width: 300px;
        }
    }
    .catalog-item__descr{
        padding-right: 20px;
    }
    .catalog-item__content_active{
        .catalog-item__descr{
            padding-right: 0;
        }
    }
    .catalog-item__prices{
        text-align: left;
    }
    .catalog__tabs{
        flex-direction: column;
        align-items: center;
    }
    .catalog__tab{
        margin: 5px 10px;
    }
}