.catalog-item{
    padding: 20px;
    width: 303px;
    min-height: 442px;
    background: #FFFFFF;
    border: 2px solid #E8E8E8;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    &__img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 140px;
        height: 200px;
    }
    &__subtitle{
        font-weight: bold;
        font-size: 16px;
        color: #0D0D0D;
        margin-top: 25px;
    }
    &__descr{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #0D0D0D;
        margin-top: 15px;
    }
    &__link{
        font-weight: 500;
        font-size: 14px;
        text-decoration-line: underline;
        color: $main_color;
        margin-top: 10px;
    }
    
    &__link:hover {
        color: $main_color;
    }
    hr{
        width: 263px;
        height: 2px;
        background: #E8E8E8;
        margin-top: 17px;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 17px;
    }
    &__prices{
        text-align: left;
    }
    &__old-price{
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: line-through;
        color: #555555;
    }
    &__price{
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #050505;
    }
    &__wrapper{
        display: flex;
        width: calc(200% + 40px);
    }
    &__content{
        width: 50%;
        margin-right: 0px;
        transform: translateX(-100%);
        transition: .5s all;
        &_active{
            transform: translateX(0%);
            margin-right: 20px;
        }
    }
    &__list-wrapper{
        width: 50%;
        margin-left: 20px;
        transform: translateX(0%);
        transition: .5s all;
        &_active{
            transform: translateX(-100%);
            margin-left: 0;
        }
    }
    &__list{
        padding-left: 16px;
        margin-bottom: 0;
        list-style-type: none;
        padding-right: 20px;
        li{
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: #555555;
            margin-top: 10px;
            text-align: left;
            position: relative;
        }
        li::before{
            content: "";
            width: 5px;
            height: 5px;
            background-color: $main_color;
            position: absolute;
            top: 8px;
            left: -16px;
        }
    }
    &__back{
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(calc(-50% - 16px));
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: underline;
        color: $main_color;
        text-transform: uppercase;
        &:hover{
          color: $main_color;  
        }
    }
}