.consultation{
    background: url(../../img/Consultation/bg2.jpg) no-repeat center/cover;
    padding: 100px 0 108px;
    min-height: 680px;
    &__title{
        font-weight: bold;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subtitle{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 10px;
    }
}